"*":
  autosave:
    enabled: true
  blame: {}
  core:
    autoHideMenuBar: true
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      "*.pyc"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    projectHome: "/home/michael/Development"
    themes: [
      "nucleus-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "keybinding-cheatsheet": {}
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E702"
    ]
    maxLineLength: 120
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  minimap: {}
  "pdf-view": {}
  "python-tools": {}
  "rst-preview": {}
  "spell-check": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
