"*":
  welcome:
    showOnStartup: false
  autosave:
    enabled: true
  core:
    projectHome: "/home/michael/Development"
    excludeVcsIgnoredPaths: false
    themes: [
      "nucleus-dark-ui"
      "seti-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    scrollPastEnd: true
    preferredLineLength: 120
    showIndentGuide: true
    fontSize: 13
    showInvisibles: true
    tabType: "soft"
  "linter-flake8":
    maxLineLength: 120
    ignoreErrorCodes: [
      "E702"
    ]
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "spell-check": {}
  "rst-preview": {}
  linter: {}
  "atom-ternjs": {}
  "python-tools": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "keybinding-cheatsheet": {}
  "atom-beautify":
    _analyticsUserId: "815d035e-29de-46cd-90be-0c90b5cc4d64"
  blame: {}
