"*":
  autosave:
    enabled: true
  blame: {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "text.xml": [
        "glade"
      ]
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      "*.pyc"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "keybinding-cheatsheet": {}
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E702"
    ]
    maxLineLength: 120
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  minimap: {}
  "pdf-view": {}
  "python-tools": {}
  "rst-preview": {}
  "spell-check": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
