[Desktop Entry]
Name=Dim Lifx Mode
Exec=lifx --fade-time 0 rgb .4 .4 .4
Icon=dialog-information
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
