[Desktop Entry]
Name=TOMORROW
Exec=tomboy_todo tomorrow
Icon=tomboy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tomboy
X-GNOME-Bugzilla-Component=General
