"*":
  welcome:
    showOnStartup: false
  autosave:
    enabled: true
  core:
    projectHome: "/home/michael/Development"
    excludeVcsIgnoredPaths: false
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    preferredLineLength: 120
  "linter-flake8":
    maxLineLength: 120
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "spell-check": {}
  "rst-preview": {}
  linter: {}
  "atom-ternjs": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
