"*":
  welcome:
    showOnStartup: false
  autosave:
    enabled: true
  core:
    projectHome: "/home/michael/Development"
    excludeVcsIgnoredPaths: false
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    preferredLineLength: 120
    showIndentGuide: true
    fontSize: 15
  "linter-flake8":
    maxLineLength: 120
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "spell-check": {}
  "rst-preview": {}
  linter: {}
  "atom-ternjs": {}
  "python-tools": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "exception-reporting":
    userId: "75a2fc7d-cc12-e132-a7a0-04b46b7671ff"
  "atom-beautify":
    _analyticsUserId: "43673052-f867-4090-b85e-bcfd5eaea796"
