[Desktop Entry]
Type=Application
Exec=tomboy
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Tomboy
Name=Tomboy
Comment[en_GB]=
Comment=
