file:///home/{{ ansible_env.USER }}/Documents
file:///home/{{ ansible_env.USER }}/Development
file:///home/{{ ansible_env.USER }}/Music
file:///home/{{ ansible_env.USER }}/Pictures
file:///home/{{ ansible_env.USER }}/Videos
file:///home/{{ ansible_env.USER }}/Downloads
