file:///home/{{ ansible_user_id }}/Documents
file:///home/{{ ansible_user_id }}/Development
file:///home/{{ ansible_user_id }}/Music
file:///home/{{ ansible_user_id }}/Pictures
file:///home/{{ ansible_user_id }}/Videos
file:///home/{{ ansible_user_id }}/Downloads
