[user]
	name = {{ username }}
	email = {{ email }}
	signingkey = {{ gpgkey }}
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = meld
[diff]
	tool = meld
[color]
	ui = true
[push]
	default = simple
[difftool]
	prompt = false
[mergetool]
	prompt = false
[pull]
	rebase = true
[alias]
	glog = log --graph --all --decorate
	kdiff = difftool
[rebase]
	autostash = true
[gpg]
	program = gpg2
