[user]
  name = {{ username }}
  email = {{ email }}
  signingkey = {{ gpgkey }}
[commit]
  gpgsign = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[merge]
  tool = kdiff3
[diff]
  tool = meld
[diff "gpg"]
  textconv = gpg --no-tty --decrypt
[color]
  ui = true
[push]
  default = simple
[difftool]
  prompt = false
[mergetool]
  prompt = false
[pull]
  rebase = true
[rebase]
  autostash = true
[gpg]
  program = gpg2
