[user]
	name = {{ username }}
	email = {{ email }}
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[color]
	ui = true
[push]
	default = simple
[difftool]
	prompt = false
[mergetool]
	prompt = false
[pull]
	rebase = true
[alias]
	glog = log --graph --all --decorate
	kdiff = difftool
[dif]
	tool = diffuse
[rebase]
	autostash = true
